#tvbg {
    background-position:right center;
    min-height:500px;
}
.tabtitles {
    text-transform:uppercase;
    font-size:20px;
}
.tabcontent {
     text-transform:uppercase;
    font-size:20px;
}