* {
  margin: 0;
  box-sizing: border-box;
  font-size: 15pt;
}

body {
  background-color: #1e1e1e;
  height: 100%;
  width: 100%;
}


.nlCircle {
  width: 20vvw;
  height: 20vh;
  margin: 1%;
  margin-right: 0;
  margin-bottom: 0;
}


.newfieNookTitle {
  position: absolute;
  top: 0;
  margin: 2%;
  margin-bottom: 0;
  width: 40vw;
  
}


hr {
  border: 0.5px solid white;
  margin-top: -1%;
}