@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 15pt;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

body {
  background-color: #1e1e1e;
  height: 100%;
  width: 100%;
  display: flex;
}


.banner {
  background-color: #ea9ac269;
  border-bottom: 1px solid rgba(255, 255, 255, 0.715);
  height: 18vh;
  width: 100vw;
}


.nlCircle {
  width: 20vvw;
  height: 20vh;
  margin: 2%;
  margin-top: 0;
  margin-right: 0;
}


.newfieNookTitle {
  position: absolute;
  top: 0;
  margin: 0 5%;
  width: 40vw;
  
}


.productListHTML {
  color: white;
  width: 90%;
}


.listedProduct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  }
  
.image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


nav {
  margin-left: 5%;
  flex-wrap: nowrap;
}


.navBar {
  position: absolute;
  display: flex;
  right: 0;
  flex-wrap: nowrap;
}


.navBox {
  display: flex;
  float: left;
  margin: 0 2%;
}