@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700;800;900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 15pt;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

body {
  background-color: #1e1e1e;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}


/* banner css */
.banner {
  background-color: #ea9ac29c;
  border-bottom: 2px solid #FF007Fb2;
  border-top: 2px solid #ff0080b2;
  height: 18vh;
  width: 100%;
  z-index: 5;
  position: fixed;
  display: flex;
  justify-content: start;
}


.nlPic {
  height: 18vh;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-direction: row;
  background-color: white;
  position: fixed;
  top: 5vh;
  right: 0;
  z-index: 1; 
  background-image: url("../images/nlBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;


}


.nlCircle {
  display: flex;
  align-items: center;
  justify-content: left;
  width: auto;
  height: 15vh;
  margin: 1%;
  margin-right: auto;
  
}


.newfieNookTitle {
  display: flex;
  height: 15vh;
  width: auto;
  align-items: center;
  position: absolute;
  left: 10vw;
  margin-right: auto;
  margin-left: 0;
  
}
/* end of banner css */


/* nav css */
nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
}


.navBar {
  display: flex;
  right: 0;
  flex-wrap: nowrap;
  justify-content: right;
  align-items: center;
  background-color: #039F4C;
  background: hsla(0, 0%, 12%, 1);
  background: linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(148, 96%, 32%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(148, 96%, 32%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(148, 96%, 32%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  height: 5.5vh;
  width: 100%;
  z-index: 99;
}


nav h3 {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  color: #57FF5D;
}


.navBox {
  display: flex;
  float: left;
  flex-wrap: nowrap;
  justify-self: center;
  width: 7vw;
  height: 6vh;
  border-radius: 8px;

}

/* icon css */
.icon {
  display: flex;
  justify-content: end;
  height: 80%;
  width: auto;
  filter: invert(1); /* Inverts the color of the icon */
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 20;
}


#addCartIcon {
  z-index: 0;
  height: 35px;
  width: auto;
}
/* icon ids 
#homeIcon
#cartIcon
#addCartIcon
#checkoutIcon */

/* end of icon css */


.shoppingCartDropdown {
  position: fixed;
  top: 5vh;
  right: 0;
  width: 700px;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  overflow: hidden;
  transition: right 0.3s ease-in-out;
  border-radius: 8px;
}

.shoppingCartDropdown h2 {
  background-color: #039F4C;
  color: #fff;
  padding: 10px;
  margin: 0;
  border-radius: 8px 8px 0 0;
}
.cartItems {
  max-height: 1000px; /* Adjust the max height as needed */
  overflow-y: auto;
  padding: 20px;
}
.cartItemsContainer {
  max-height: 500px; 
  overflow-y: auto;
}
.cartItems div {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.cartItems h3 {
  margin-bottom: 5px;
}

.cartItems p {
  color: #666;
}

.cartItems button {
  background-color: #FF007F;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.cartItems button:hover {
  background-color: #d60073;
}


.cartItems input {
  width: 50px; /* Adjust the width as needed */
  margin-left: 10px; /* Add margin for spacing */
}

.quantityWrapper {
  display: flex;
  align-items: center;
}

.cartItems button {
  /* Add or adjust any styles as needed */
  margin-top: 10px;
}


.wrap{
  width: 10%;
  position: flex;
  justify-content: center;
  align-content: center;
  z-index: 2;
  margin-top: 20px;
  margin-left: 5px;
  
}

/* end of nav css */



/* category section css */
.categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
  border-bottom: 2px solid #ff0080b2;
  background-color: 1e1e1e;
  text-align: center;
  font-size: 25pt;
  font-weight: 800;
  height: 5vh;
  width: 100%;
  padding: 0;
  z-index: 999;
  position: fixed;
  margin-top: 23vh;
}


.category {
  flex-wrap: nowrap;
  height: 5vh;
  width:100%;
  margin: 0;
  padding: 0;
  position: relative; 
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: #ff0080b4;
  background: linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(330, 100%, 50%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(330, 100%, 50%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(330, 100%, 50%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  z-index: 9;
}


.category button {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.778);
  z-index: 999;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  height: 5vh;
  padding: 0 10px;
  margin: 0 5px;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.category button:hover {
  background-color: #d08baec2;
  color: white;
  font-weight: 900;
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: 1px solid #57FF5D;
}


.categoryBarSelect {
  color:#03753c;
  font-weight: 700;
}

.sortBy {
  margin-left: auto;
  display: flex;
  justify-content: end;
  align-items: center;

}


.sortBy h2 {
  color: white;
  height: 5vh;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 1em;
}


.sortBtn button {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.778);
  z-index: 999;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  height: 4.75vh;
  width: auto;
  padding: 5px;
  align-items: center;
  font-size: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.showAllBtn {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.778);
  z-index: 999;
  cursor: pointer;
  display: flex;
  width: min-content;
  height: 4.75vh;
  align-items: center;
  padding: 3px;
}

/* end of category section css */



/* product list css */
.productList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  width: 95%;
  height: fit-content;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.653);
  border-radius: 10px;
  border: 2px solid #ff0080b2;
  padding: 5px;
  margin-top: 30vh;
}


.listedProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column; 
  width: 80%;
  height: auto;
  }
  

.productImage {
  display: flex;
  justify-content: center;
  height: auto;
  width: 19vw;
  margin: 0 auto;
  max-height: 25vh;
}


.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 0 auto;
  border: 3px solid #03753cb7;
  display: flex;
  justify-content: center;
  
}


.item {
  display: flex;
  align-items: top;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 2px solid #57ff5db5;
  padding: 10px;
  flex-direction: column;
  background-color: #039f4cbd;
  background: hsla(0, 0%, 12%, 1);
  background: linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(148, 96%, 32%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(148, 96%, 32%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(148, 96%, 32%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  border-radius: 10px;

}
.itemDetails {
  display: flex;
  width: 100%; /* Make sure itemDetails takes the full width */
}


.productTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 10vh;
  max-height: max-content;
  align-items: center;
  margin: 3% auto;

}


.h3Title {
  color: white;
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: black;
  font-weight: 700;
  font-size: 18pt;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10vh;
}


.productPrice {
  margin: 3%;
  margin-left: 5%;
  text-align: right;
  margin-left: auto;
}


.productActions {
  display: flex;
  align-items: flex-end;
}


.productActions button {
  background-color: none;
}


.quantityWrapper {
  display: flex;
  flex-direction: column;
  margin-right:auto;
  /* margin-top: 10px; */
  flex-wrap: nowrap;
  width: 50%;
}

.quantityWrapper label {
  /* margin-bottom: 5px;  */
  font-size: 12pt;
  margin-left: 10px;
}


.qtyInput {
  width: 3vw;
  height: 4vh;
  border: 1px solid #03753c;
  border-radius: 8px;
  text-align: end;
  margin-left: 10px;
}

.addCartBtn {
  cursor: pointer;
  font-size: 12pt;
  margin-left:auto;
  height: 3vh;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}

/* end of product list css */

/* checkout css */
.homeCheckout {
  width: 100%;
  margin: 0;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
  width: 95vw;
  background-color: rgba(255, 255, 255, 0.51);
  text-align: left;
}

.checkout form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 50%;
}

.thankYouPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* To ensure it's above other elements */
}

.popupContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

<<<<<<< Updated upstream
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContainer {
  width: 500px; 
  max-width: 90%; 
  background-color: #039F4C;
  color: #333;
  border: 3px solid #FF007Fb2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  z-index: 11;
  overflow: auto; /* Add scroll if content is too long */
}

.closeBtn {
  float: right;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}

.productImage img {
  max-width: 100%;
  height: auto;
}

.productDescription {
  max-width: 100%; /* Description takes full width of the modal */
  word-wrap: break-word; /* Prevents overflow of long words */
}
=======

/* footer css */
footer {
  color:white;
  background-color: #FF007F;
  width: 100%;
  height: 20vh;
  position: sticky absolute;
  bottom: 0;
  left: 0;
  z-index: 30;
  border-top: 2px solid black;
  display: flex;
  align-items: end;
}


footer p {
  margin: 1%;
}

@media (30em <= width <= 965px) {
  .listedProduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column; 
    width: 80%;
    height: auto;
    }
    

    .productImage {
      display: flex;
      justify-content: center;
      height: auto;
      width: 80%;
      margin: 0 auto;
      max-height: 25vh;
    }


    .productTitle {
      display: flex;
      justify-content: center;
      text-align: center;
      height: 10vh;
      max-height: max-content;
      align-items: center;
      margin: 1% auto;
    
    }
    
    
    .h3Title {
      color: white;
      -webkit-text-stroke-width: 0.75px;
      -webkit-text-stroke-color: black;
      font-weight: 700;
      font-size: 0.8em;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 10vh;
    }
    
    .productList {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      color: white;
      width: 95%;
      height: fit-content;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.653);
      border-radius: 10px;
      border: 2px solid #ff0080b2;
      padding: 5px;
      margin-top: 30vh;
    }

    .navBar {
      display: flex;
      right: 0;
      flex-wrap: wrap;
      justify-content: right;
      align-items: center;
      background: hsla(0, 0%, 12%, 1);
      background: linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(148, 96%, 32%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
      background: -moz-linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(148, 96%, 32%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
      background: -webkit-linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(148, 96%, 32%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
      min-height: 5.5vh;
      max-height: fit-content;
      width: 100%;
      z-index: 99;
    }
  }
>>>>>>> Stashed changes
